1. Sign into the {{ partial "console-link" (dict "context" . "path" "/") }}.
2. Under {{ partial "console-link" (dict "context" . "path" "/projects") }}, click **Create Project**.
3. Type a name for your new project in the **Name** field.
4. Optionally fill in the **Public Name**, **Developer Name** and other fields. You won't be able to set a **Website URL** until after you've saved the project.
5. Click **Create**.
6. Switch to the new project using the project switcher in the top-right of the Admin Console.